<h1>connexion</h1>
<form [formGroup]="signinForm" (ngSubmit)='onSubmit()'>
    <div class="form-group">
        <label for="email"> Adresse mail</label>
        <input 
        class="form-control"
        type="text"
        id="email"
        formControlName="email">
    </div>
    <div class="form-group">
        <label for="password"> Mot de passe</label>
        <input 
        class="form-control"
        type="password"
        id="password"
        formControlName="password">
    </div>
    <button class="btn btn-success" type="submit" [disabled]="signinForm.invalid">Se connecter</button>
</form>
<p class="text-danger"> {{ message }}</p>

